[submodule "libs/serial"]
	path = libs/serial
	url = https://github.com/wjwwood/serial.git
[submodule "libs/GetComPortList"]
	path = libs/GetComPortList
	url = https://github.com/nkinar/GetComPortList.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
